<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Bar</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle  auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
          <ion-item>
            <ion-buttons slot="start"  >
              <ion-button (click)="toggleIcon()">
                <ion-icon  [name]="iconMoon ? 'moon-outline' : 'sunny-outline'" slot="icon-only" color="medium"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label>
              {{this.modeText}}
            </ion-label>
          </ion-item>


        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>
</ion-app>
